{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Modification du profil{% endblock %}

{% block body %}
    <div class="col-lg-7 col-md-10 mx-auto">
        <a href="" class="btn btn-info">Modifier mon mot de passe</a>

        <hr>

        <h1>Modification du profil</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-success btn-lg col-12"><i class="fas fa-check"></i> Enregistrer les modifications !</button>

        {{ form_end(form) }}
    </div>
{% endblock %}