{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %} S'inscrire à SnowTricks {% endblock %}

{% block body %}

    <div class="form-signin mt-5 pt-5">
        <h1 class="h3 mb-3 font-weight-normal text-center">Inscrivez-vous !</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary btn-lg col-12"><i class="fas fa-check"></i>Inscription</button>
        {{ form_end(form) }}
    </div>

{% endblock %}