<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/remixicon@2.4.0/fonts/remixicon.css" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('build/app.css')}}">
        {% endblock %}

    </head>
    <body class="bg-gray-100">
        <div class="bg-gray-800 flex justify-between p-6">
            <a href="{{ path('home_index') }}">
                <img src="{{ asset('images/logo-snowtricks.svg') }}" alt="SnowTricks" width="145">
            </a>
        </div>

        <div class=" w-full flex flex-wrap mx-auto px-2 pt-8">
            {% include "admin/navbar.html.twig" %}
            {% block body %}{% endblock %}
        </div>
    </body>
</html>

