{% if app.request.attributes.get('_route') == 'admin.categories.index' %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="display-4">Mes Catégories</h1>
        <a class="btn btn-primary btn-lg d-flex align-items-center" href="{{ path('admin.category.new') }}" role="button">
            <i class="ri-add-box-fill mr-2"></i>
            Ajouter
        </a>
    </div>
{% endif %}

{% if app.request.attributes.get('_route') == 'admin.tricks.index' %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="display-4">Mes Tricks</h1>
        <a class="btn btn-primary btn-lg d-flex align-items-center" href="{{ path('admin.trick.new') }}" role="button">
            <i class="ri-add-box-fill mr-2"></i>
            Ajouter
        </a>
    </div>
{% endif %}

