@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    background-color: lightgray;
}
.nav-burger {
    cursor: pointer;
}

.burger {
    width: 25px;
    height: 25px;
    background-image: url("../../public/images/wind.svg");
    background-size: 100%;
    background-repeat: no-repeat;

}
.heros {
    background-image: url("../../public/images/background-heros.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
