// customize some Bootstrap variables
$primary: #0d7896;

.bg-cover{
  object-fit: cover;
}

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.card {
  display: none;
}

.media {
  display: none;
}