@tailwind base;

@tailwind components;

@tailwind utilities;

/* Dropdown Menu _HOME */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Image de fond _HOME */
.bg-home {
    background-image:url('https://images.unsplash.com/photo-1578565581528-bac74e3ee607?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2600&q=80');
    height: 60vh;
    max-height:460px;
}