<!DOCTYPE html>
<html lang="fr" style="scroll-behavior: smooth;">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="https://cdn.jsdelivr.net/npm/remixicon@2.4.0/fonts/remixicon.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body class="bg-gray-100">
        {% include ('navbar.html.twig') %}
        <main class="container">
            {% block body %}{% endblock %}
        </main>
        {% include "footer.html.twig" %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
