<div id="scroll-top" class="w-full m-0 p-0 bg-cover bg-bottom bg-center relative bg-home">
    <div class="container flex justify-between px-4 md:px-6 max-w-6xl mx-auto pt-5">
        <a href="{{ path('home_index') }}">
            <img src="{{ asset('images/logo-snowtricks.svg') }}" alt="SnowTricks" width="145">
            <p class="text-sm tracking-widest antialiased text-white">Site communautaire</p>
        </a>
    </div>
</div>
