<nav class="container mx-auto">
    <div class="flex justify-between items-end">
        <img class="" src="{{ asset('images/logo-snowtricks.svg') }}" alt="SnowTricks">
        <div class="nav-burger bg-blue-800 pt-12 pl-8 pr-8 pb-4 hover:bg-blue-900 duration-700">
            <div class="burger"></div>
        </div>
    </div>
</nav>

<div class="menu hidden bg-blue-600">
    <ul class="absolute top-0 left-0 bg-gray-900 w-full h-screen">
        <div class="container mx-auto text-right font-hairline tracking-widest m-10">
            <li class="px-4 text-white text-6xl m-5"><a class="border-t-2 border-b-2 border-white py-3 hover:border-b-4 hover:border-b-4 hover:font-light hover:text-red-500 hover:border-red-500 duration-500" href="#">EXIT</a></li>
            <li class="px-4 text-white text-6xl m-5"><a class="border-t-2 border-b-2 border-white py-3 hover:font-light duration-500" href="#">TRICKS</a></li>
            <li class="px-4 text-white text-6xl m-5"><a class="border-t-2 border-b-2 border-white py-3 hover:font-light duration-500" href="#">À PROPOS</a></li>
            <li class="px-4 text-white text-6xl m-5"><a class="border-t-2 border-b-2 border-white py-3 hover:font-light duration-500" href="#">CONTACT</a></li>
            <li class="px-4 text-white text-6xl m-5"><a class="border-t-2 border-b-2 border-white py-3 hover:font-light duration-500" href="#">LOGIN</a></li>
            <li class="px-4 text-white text-6xl m-5"><a class="border-t-2 border-b-2 border-white py-3 hover:font-light duration-500" href="#">INSCRIPTION</a></li>
        </div>
    </ul>
</div>

<script type="text/javascript">
    let burger = document.querySelector('.nav-burger');
    let menu = document.querySelector('.menu');
    let exit = document.querySelector('.menu ul');

    burger.addEventListener('click',function(){
        menu.classList.remove('hidden');
    });

    exit.addEventListener('click',function(){
        menu.classList.add('hidden');
    });
</script>


