{% extends "admin/base.html.twig" %}

{% block body %}
    <style>
        input:checked ~ .toggle__dot {
            transform: translateX(100%);
            background-color: #48bb78;
        }
    </style>

    <div class="w-full lg:w-4/5 p-8 mt-6 lg:mt-0 text-gray-900 leading-normal">

        {% include 'partials/alerts.html.twig' %}

        <header class="flex justify-between items-center">
            <h2 class="flex items-center text-2xl font-semibold leading-tight">
                <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path fill="none" d="M0 0h24v24H0z"/>
                    <path d="M5 19h1.414l9.314-9.314-1.414-1.414L5 17.586V19zm16 2H3v-4.243L16.435 3.322a1 1 0 0 1 1.414 0l2.829 2.829a1 1 0 0 1 0 1.414L9.243 19H21v2zM15.728 6.858l1.414 1.414 1.414-1.414-1.414-1.414-1.414 1.414z"/>
                </svg>
                Trick: Backside
            </h2>
            <span class="py-2 px-5 bg-orange-200 opacity-50 rounded-full">
                <span class="text-orange-800 font-bold">Brouillon</span>
            </span>
        </header>

        <hr class="my-5">

        <!-- Author & Date -->
        <div class="justify-end mb-5 text-gray-500 md:flex">
            <span class="flex items-center md:mr-4">
                <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                    <path fill="none" d="M0 0h24v24H0z"/>
                    <path d="M14 14.252v2.09A6 6 0 0 0 6 22l-2-.001a8 8 0 0 1 10-7.748zM12 13c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6zm0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm6.586 6l-1.829-1.828 1.415-1.415L22.414 18l-4.242 4.243-1.415-1.415L18.586 19H15v-2h3.586z" fill="#a0aec0"/>
                </svg>
                Bastien CLEMENT
            </span>
            <span class="flex items-center">
                <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                    <path fill="none" d="M0 0h24v24H0z"/><path d="M17 3h4a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4V1h2v2h6V1h2v2zm3 8H4v8h16v-8zm-5-6H9v2H7V5H4v4h16V5h-3v2h-2V5zm-9 8h2v2H6v-2zm5 0h2v2h-2v-2zm5 0h2v2h-2v-2z" fill="#a0aec0"/>
                </svg>
                21 janvier, 2020 • 12:30
            </span>
        </div>

        <form action="#" method="POST">

            <div class="justify-end items-center mb-5 md:flex">
                <a href="#" class="mb-2 md:mr-2 py-4 bg-yellow-500 text-white font-medium px-5 rounded hover:bg-yellow-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none">
                    <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                        <path fill="none" d="M0 0h24v24H0z"/>
                        <path d="M3 10H2V4.003C2 3.449 2.455 3 2.992 3h18.016A.99.99 0 0 1 22 4.003V10h-1v10.001a.996.996 0 0 1-.993.999H3.993A.996.996 0 0 1 3 20.001V10zm16 0H5v9h14v-9zM4 5v3h16V5H4zm5 7h6v2H9v-2z" fill="rgba(255,255,255,1)"/>
                    </svg>
                    Brouillon
                </a>

                <a type="submit" class="mb-2 md:mr-2 py-4 bg-teal-500 text-white font-medium px-5 rounded hover:bg-teal-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none">
                    <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                        <path fill="none" d="M0 0h24v24H0z"/>
                        <path d="M5 19h1.414l9.314-9.314-1.414-1.414L5 17.586V19zm16 2H3v-4.243L16.435 3.322a1 1 0 0 1 1.414 0l2.829 2.829a1 1 0 0 1 0 1.414L9.243 19H21v2zM15.728 6.858l1.414 1.414 1.414-1.414-1.414-1.414-1.414 1.414z" fill="rgba(255,255,255,1)"/>
                    </svg>
                    Modifier
                </a>

                <a href="#" class="mb-2 py-4 bg-red-500 text-white font-medium px-5 rounded hover:bg-red-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none">
                    <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                        <path fill="none" d="M0 0h24v24H0z"/>
                        <path d="M7 4V2h10v2h5v2h-2v15a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V6H2V4h5zM6 6v14h12V6H6zm3 3h2v8H9V9zm4 0h2v8h-2V9z" fill="rgba(255,255,255,1)"/>
                    </svg>
                    Supprimer
                </a>
            </div>

            <div class="flex-col">
                <div class="md:flex md-flex-row">
                    <div class="md:w-3/12 md:mr-2">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">Main image</label>
                        <img class="mb-2 rounded object-cover bg-gray-300" src="https://images.unsplash.com/photo-1582148453014-b7d4117d3300?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" id="slide1">
                        <input type="file" class="w-full appearance-none bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 rounded mb-2">
                    </div>
                    <div class="md:w-3/4">
                       <div class="w-full mb-2">
                           <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">Titre</label>
                           <input type="text" class="w-full appearance-none bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 rounded" value="Backside">
                       </div>
                       <div class="md:flex md-flex-row">
                           <div class="md:w-3/4 mb-2 md:mr-2">
                               <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
                                   Visibilité
                               </label>
                               <label for="toogleA" class="flex items-center cursor-pointer py-3 px-5 bg-white border border-grey-lighter rounded">
                                   <div class="relative">
                                       <input id="toogleA" type="checkbox" class="hidden" checked/>
                                       <div class="toggle__line w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
                                       <div class="toggle__dot absolute w-6 h-6 bg-white rounded-full shadow inset-y-0 left-0" style="top: -.25rem; left: -.25rem; transition: all 0.3s ease-in-out;"></div>
                                   </div>
                                   <div class="ml-3 text-gray-700 font-medium">
                                       Oui / Non
                                   </div>
                               </label>
                           </div>
                           <div class="md:w-3/4 mb-2">
                               <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
                                   Catégories
                               </label>
                               <select class="form-multiselect block w-full appearance-none bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 rounded" multiple id="my-multiselect">
                                   <option selected="on">Boardcross</option>
                                   <option selected="on">Freeride</option>
                                   <option>Freestyle</option>
                               </select>
                           </div>
                       </div>
                    </div>
                </div>

                <div class="md:flex md-flex-row">
                    <div class="md:w-3/12 md:mr-2 mb-2">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">Main Vidéo</label>
                        <img class="mb-2 rounded object-cover bg-gray-300" src="https://images.unsplash.com/photo-1582148453014-b7d4117d3300?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" id="slide1">
                        <input type="file" class="w-full appearance-none bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 rounded mb-2" placeholder="Backside">
                    </div>
                    <div class="md:flex md:flex-col md:w-3/4">
                        <div class="md:w-full mb-2">
                            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">Description</label>
                            <textarea name="" class="w-full appearance-none bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 rounded" id="" cols="30" rows="4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur beatae consequuntur dignissimos distinctio dolore est id iusto libero maiores nesciunt obcaecati, pariatur porro quaerat quasi, quod recusandae rem voluptate?</textarea>
                        </div>
                        <div class="md:w-full mb-2">
                            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">Contenu</label>
                            <textarea name="" class="w-full appearance-none bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 rounded" id="" cols="30" rows="15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam at beatae debitis deserunt earum illum inventore iure labore, laudantium, libero nam nemo obcaecati omnis, optio quae tenetur veritatis voluptates?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolorum eaque, in nulla omnis quisquam quo velit. Cupiditate doloremque ducimus est incidunt obcaecati officiis, porro quas quibusdam sequi unde vitae? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi enim illo laboriosam, molestiae nobis velit? Ab accusamus ad fugit id, ipsam non nostrum officiis perferendis quas, repellat sit, temporibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur error est exercitationem facere minima nihil quia quisquam reiciendis rerum voluptates. Autem, corporis deleniti doloremque est ex neque placeat quibusdam repellat?</textarea>
                        </div>
                    </div>

                </div>

                <div class="flex">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">Uploads Images</label>
                </div>
                <hr class="mb-5">
                <div class="md:flex md-flex-row">
                    <div class="md:w-1/5 md:mr-2">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">Image 1</label>
                        <img class="mb-2 rounded object-cover bg-gray-300" src="https://images.unsplash.com/photo-1582148453014-b7d4117d3300?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" id="slide1">
                        <input type="file" class="w-full appearance-none bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 rounded mb-2" placeholder="Backside">
                    </div>
                    <div class="md:w-1/5 md:mr-2">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">Image 2</label>
                        <img class="mb-2 rounded object-cover bg-gray-300" src="https://images.unsplash.com/photo-1582148453014-b7d4117d3300?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" id="slide1">
                        <input type="file" class="w-full appearance-none bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 rounded mb-2" placeholder="Backside">
                    </div>
                    <div class="md:w-1/5 md:mr-2">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">Image 3</label>
                        <img class="mb-2 rounded object-cover bg-gray-300" src="https://images.unsplash.com/photo-1582148453014-b7d4117d3300?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" id="slide1">
                        <input type="file" class="w-full appearance-none bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 rounded mb-2" placeholder="Backside">
                    </div>
                    <div class="md:w-1/5 md:mr-2">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">Image 4</label>
                        <img class="mb-2 rounded object-cover bg-gray-300" src="https://images.unsplash.com/photo-1582148453014-b7d4117d3300?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" id="slide1">
                        <input type="file" class="w-full appearance-none bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 rounded mb-2" placeholder="Backside">
                    </div>
                    <div class="md:w-1/5 md:mr-2">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">Image 5</label>
                        <img class="mb-2 rounded object-cover bg-gray-300" src="https://images.unsplash.com/photo-1582148453014-b7d4117d3300?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" id="slide1">
                        <input type="file" class="w-full appearance-none bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 rounded mb-2" placeholder="Backside">
                    </div>
                    <div class="md:w-1/5">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">Image 6</label>
                        <img class="mb-2 rounded object-cover bg-gray-300" src="https://images.unsplash.com/photo-1582148453014-b7d4117d3300?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" id="slide1">
                        <input type="file" class="w-full appearance-none bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 rounded mb-2" placeholder="Backside">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}