{% extends "base.html.twig" %}

{% block title %} Se connecter à SnowTricks {% endblock %}

{% block body %}
    <div class="form-signin mt-4">
        <div class="">
            <h1 class="text-center mb-4">Connexion</h1>

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form action="{{ path ('auth.login') }}" method="post">
                <div class="form-group">
                    <label for="username">Nom d'utilisateur</label>
                    <input type="text" name="_username" id="username" class="form-control" placeholder="Nom d'utilisateur" required value="{{ username }}">
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" name="_password" id="password" class="form-control" placeholder="Mot de passe" required>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success">Connexion !</button>
                </div>
            </form>
            <p class="text-center">
                <a href="#">Mot de passe oublié ?</a><br>
                <a href="#">Inscription</a>
            </p>
        </div>
    </div>

{% endblock %}
