{% extends "base.html.twig" %}

{% block title %} Accueil SnowTricks {% endblock %}

{% block body %}

    <div class="mt-5 row row-cols-1 row-cols-md-3">
        {% include "trick/_card.html.twig" %}
        {% include "trick/_card.html.twig" %}
        {% include "trick/_card.html.twig" %}
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <a class="btn btn-primary btn-lg" href="#" role="button">Voir plus de Tricks</a>
        </div>
    </div>
    <!-- Scroll Top -->
    <a class="bg-white fixed visible sm:invisible md:visible right-0 bottom-0 p-6" href="#scroll-top">
        <i class="fas fa-arrow-up fa-lg text-gray-800"></i>
    </a>

{% endblock %}
