{% extends "base.html.twig" %}

{% block title %} Snowtricks - Home {% endblock %}

{% block body %}
    {% include "header.html.twig" %}
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-3">
                {{ message }}
            </div>
        {% endfor %}
        <div class="mt-5 row row-cols-1 row-cols-md-3">
            {% for trick in tricks %}
                {% include "trick/_card.html.twig" %}
            {% endfor %}
        </div>

        <div>
            {% include 'trick/pagination.html.twig' with {
                'route': 'home.index'
            } %}
        </div>
    </div>
{% endblock %}
