
{% block pagination %}
<nav aria-label="Page navigation example">
    <ul class="pagination">

        {% if route is same as("home.index") %}
            {% for x in 1..paginationLinks.pages %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('home.index', {'page': x }) }}">{{ x }}</a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</nav>
{% endblock %}